{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "src": "./src",
        "db": "./db",
        "entity": "./src/entity"
      }
    }]
  ]
}